<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzapp</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>

        <div id="app" class="vh-100">

            <main v-if="splashPage" id="app_body" class="d-flex"  :class="bigFont == true ? 'fs-4' : '' ">

                <div id="list_message"   :class="contactList == false ? 'd-none d-lg-block' : 'd-block' ">

                    <div class="list_header d-flex justify-content-between">

                        <div class="avatar d-flex align-items-center p-2">

                            <img width="50" src="./img/avatar_io.jpg"
                                alt="immagine dell'utente"
                                class="rounded-circle">

                            <div class="ms-2">
                                Sofia
                            </div>

                        </div>
                        <!-- /.avatar -->

                        <div
                            class="avatar_options d-flex align-items-center gap-3 pe-3">

                            <button @click="toggleFontSize()">

                                <i class="fa-solid fa-maximize"></i>

                            </button>

                            <button>

                                <i class="fa-solid fa-circle-notch"></i>

                            </button>

                            <button>

                                <i class="fa-solid fa-message"></i>

                            </button>

                            <button>

                                <i class="fa-solid fa-ellipsis-vertical"></i>

                            </button>

                        </div>
                        <!-- /.avatar_options -->

                    </div>
                    <!-- /.list_header -->

                    <div class="notifications d-flex align-items-center ps-3">

                        <div
                            class="bell d-flex justify-content-center align-items-center bg-white rounded-circle">

                            <i class="fa-solid fa-bell-slash"></i>

                        </div>

                        <div class="ms-2">

                            <div>Ricevi notifiche di nuovi messaggi</div>

                            <div>
                                <a href="#" class="text-secondary">Attiva
                                    notifiche desktop</a>
                            </div>

                        </div>

                    </div>
                    <!-- /.notifications -->

                    <div class="contact_search p-2 d-flex">

                        <button class="d-inline-block bg-white px-4">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>

                        <input type="text" class="w-100 border-0 rounded-2 px-2"
                            placeholder="Cerca o inizia una nuova chat"
                            v-model="contactName"
                            @keyup="searchContact()">

                        <!-- Button trigger modal -->
                        <button type="button" data-bs-toggle="modal"
                            data-bs-target="#new_chat"
                            class="d-inline-block bg-white ms-1 px-1">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="new_chat" tabindex="-1"
                            aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5"
                                            id="exampleModalLabel">Crea una
                                            nuova chat</h1>
                                        <button type="button" class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">

                                        <div class="form-floating mb-3">
                                            <input v-model="nameNewChat" type="text"
                                                class="form-control"
                                                id="name"
                                                required>
                                            <label for="name">Nome Contatto</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input v-model="imgNewChat" type="text"
                                                class="form-control"
                                                id="img"
                                                required>
                                            <label for="img">Link Immagine Profilo</label>
                                        </div>

                                    </div>

                                    <div class="modal-footer">

                                        <button type="button"
                                            class="btn btn-success" data-bs-dismiss="modal" @click="newChat()">
                                            Crea
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Modal -->

                    </div>

                    <div class="contact_list">

                        <ul class="list-unstyled">

                            <li v-for="(contact,index) in contacts"
                                @click="setContactActive(index)">

                                <!-- v-if="contact.visible" v-if="contact.name.toLowerCase().includes(contactName.toLowerCase())" -->
                                <div v-if="contact.visible"
                                    class="contact d-flex justify-content-between px-2"
                                    :class="contactActive == index ? 'bg_light' : '' ">

                                    <div>

                                        <div
                                            class="avatar d-flex align-items-center p-2">

                                            <img width="50"
                                                :src="contact.avatar"
                                                alt="immagine dell'utente"
                                                class="rounded-circle avatar_contact">

                                            <div class="ms-2">
                                                <div> {{contact.name}} </div>
                                                <!-- FIXARE V-IF v-if="contact.messages.length > 0"-->
                                                <div class="last_message"
                                                    v-if="contact.messages.length > 0" :class="bigFont == true ? 'fs-6' : '' ">
                                                    {{contact.messages[contact.messages.length
                                                    - 1].message}}
                                                </div>
                                                <div v-else class="last_message">
                                                    Nessun messaggio da mostrare
                                                </div>
                                                <!-- <div v-else  class="last_message">
                                                    Nessun messaggio da mostrare
                                                </div> -->
                                                <!--  ⏫ DA SISTEMARE ⏫-->

                                            </div>

                                        </div>
                                        <!-- /.avatar -->

                                    </div>

                                    <!-- FIXARE V-IF v-if="contact.messages.length > 0"-->
                                    <div class="last_message_time pt-4 col-3 text-end"
                                        v-if="contact.messages.length > 0" :class="bigFont == true ? 'fs-6' : '' ">
                                        {{contact.messages[contact.messages.length
                                        - 1].date}}
                                    </div>

                                    <div v-else
                                        class="last_message_time pt-4 col-2">

                                    </div>

                                </div>
                                <!-- /.contact -->

                            </li>

                        </ul>
                        <!-- /ul -->

                    </div>
                    <!-- /.contact_list -->

                </div>
                <!-- /#list_message -->

                <div id="chat" :class="chatContact == false ? 'd-none d-lg-block' : 'd-block' ">

                    <div class="chat_header d-flex justify-content-between">

                        <div v-if="contactSelected" class="avatar d-flex align-items-center p-2">

                            <button @click="backToChatList()">

                                <i class="fa-solid fa-chevron-left d-lg-none me-3"></i>

                            </button>
                            
                            <img width="50"
                                :src="contacts[contactActive].avatar"
                                alt="immagine dell'utente"
                                class="rounded-circle avatar_contact">

                            <div class="ms-2">

                                <div>
                                    {{contacts[contactActive].name}}
                                </div>

                                <div
                                    v-if="contacts[contactActive].messages.length > 0">

                                    <!-- {{contacts[contactActive].messages[contacts[contactActive].messages.length
                                    - 1].date}} -->

                                    {{userStatus}}
                                </div>
                            </div>

                        </div>
                        <!-- /.avatar -->

                        <div v-if="contactSelected"
                            class="avatar_options d-flex align-items-center gap-3 pe-3">

                            <button>

                                <i class="fa-solid fa-magnifying-glass"></i>

                            </button>

                            <button>

                                <i class="fa-solid fa-paperclip"></i>

                            </button>

                            <button class="contact_options d-flex"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">

                                <i class="fa-solid fa-ellipsis-vertical"></i>

                            </button>

                            <ul
                                class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                                <li>
                                    <div class="dropdown-item"
                                        @click="deleteAllMessages()">Elimina
                                        messaggi</div>
                                </li>
                                <li>
                                    <div class="dropdown-item"
                                        @click="deleteChat()">Elimina chat</div>
                                </li>

                            </ul>

                        </div>
                        <!-- /.avatar_options -->

                    </div>
                    <!-- /.chat_header -->

                    <div class="chat_body" v-if="contactSelected">

                        <div class="chat_container">

                            <div
                                v-for="(message,index) in contacts[contactActive].messages"
                                class="mb-2 d-flex flex-column"
                                :class=" message.status === 'sent' ? 'box_message_sent' : 'box_message_received' ">

                                <div
                                    v-if="contacts[contactActive].messages.length > 0"
                                    class="rounded-2"
                                    :class=" message.status === 'sent' ? 'sent align-self-end' : 'received align-self-start' ">

                                    <div
                                        class="message_body p-2 ps-2 d-flex justify-content-between gap-1">

                                        <div class="message_content">{{message.message}}</div>

                                        <button class="message_options d-flex"
                                            data-bs-toggle="dropdown"
                                            aria-expanded="false">

                                            <i
                                                class="fa fa-chevron-down align-self-center"
                                                aria-hidden="true"></i>

                                        </button>

                                        <ul
                                            class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                                            <li>
                                                <div class="dropdown-item">Rispondi</div>
                                            </li>
                                            <li>
                                                <div class="dropdown-item">Reagisci</div>
                                            </li>
                                            <li>
                                                <div class="dropdown-item">Inoltra</div>
                                            </li>
                                            <li>
                                                <div class="dropdown-item">Importante</div>
                                            </li>
                                            <li>
                                                <div class="dropdown-item"
                                                    @click="deleteThisMessage(message,index)">Elimina</div>
                                            </li>
                                        </ul>

                                    </div>

                                    <div
                                        class="message_time d-flex justify-content-end">
                                        {{message.date}}
                                    </div>

                                </div>

                            </div>

                            <div
                                v-if="contacts[contactActive].messages.length === 0"
                                class="w-50 m-auto text-center">
                                Nessun messaggio da mostrare
                            </div>

                        </div>
                        <!-- /.chat_container -->

                    </div>
                    <!-- /.chat_body -->

                    <div v-else class="chat_body d-flex justify-content-center align-items-center">
                        <div class="fs-3">Benvenuto! Seleziona una chat per iniziare</div>
                    </div>

                    <div
                        class="chat_footer d-flex justify-content-around align-items-center gap-3 px-3">

                        <button>

                            <i class="fa-regular fa-face-smile"></i>

                        </button>

                        <div class="flex-grow-1 py-2 h-100">

                            <input type="text" placeholder="Scrivi un messaggio"
                                class="w-100 h-100 border-0 rounded-2 px-2"
                                v-model="userMessage"
                                @keyup.enter="sentMessage()"
                                @keyup="displayMicOrSend()">

                        </div>

                        <button v-if="displayMic">

                            <i class="fa-solid fa-microphone"></i>

                        </button>

                        <button @click="sentMessage()" v-else="dispaySend">

                            <i class="fa-solid fa-location-arrow"></i>

                        </button>

                    </div>
                    <!-- /.chat_footer -->

                </div>
                <!-- /#chat -->

            </main>
            <!-- /#app_body -->

            <div v-else class="d-flex justify-content-center align-items-center position-absolute start-50 translate-middle-x">
                <h1>Benvenuto in boolzapp</h1>
            </div>

        </div>

        <script src="./assets/js/luxon.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
        <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
        <script src="./assets/js/app.js"></script>
    </body>
</html>