/* #region common */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --bz-header: #009688;
    --bz-bg-top: #dddbd1;
    --bz-bg-bottom: #d2dbdc;
    --bz-list-light: #e9ebeb;
    --bz-white: #FFFFFF;
    --bz-light: #eaeaea;
    --bz-success: #D5F9BA;
    --bz-icon: #b1b1b1;
    --bz-primary-light: #8EDAFC;
    --bz-footer-light: #f3eeea;
}

body {
    font-family: Roboto, sans-serif;
}

button:hover {
    background-color: transparent;
}
/* #endregion common */

/* #region app*/
#app::before {
    content: '';
    display: block;
    height: 145px;
    background: var(--bz-header);
}

#app::after {
    content: '';
    display: block;
    height: calc(100% - 145px);
    background: linear-gradient(180deg, #dddbd1, #d2dbdc);
}

#app_body {
    margin: auto;
    height: 95%;
    width: 80%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list_header, .chat_header {
    height: 70px;
    background-color: var(--bz-light);
}

button {

    border: none;
    color: #6b7376;
    background-color: transparent;
    font-size: 1.25rem;
}

/* #endregion app*/



/* #list_message */
#list_message {
    width: 440px;
}

.list_header {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.contact_list{
    height: calc(100% - 200px);
    overflow-y: auto;
}

.notifications {
    height: 80px;
    background-color: var(--bz-primary-light);
}

.notifications .bell {
    width: 50px;
    aspect-ratio: 1/1;
}

.notifications .bell i{
    color: var(--bz-primary-light);
    font-size: 1.75rem;
}

.contact_search {
    background-color: #fafafa;
    height: 50px;
}

.bg_light {
    background-color: var(--bz-light);
}
/* /#list_message */



/* #chat */
#chat {
    width: calc(100% - 440px);
}

.chat_body {
    height: calc(100% - 140px);
    background-image: url('../../img/mine.jpg');
    overflow-y: auto;
}

.chat_footer {
    height: 70px;
    background-color: var(--bz-footer-light);
}

.chat_container{
    width: 90%;
    height: 85%;
    margin: 5% auto;
}


/* .box_message_sent {
    margin-left: 50%;
} */

.box_message_sent, .box_message_received {
    padding: 0 2rem;
}

.received {
    background-color: var(--bz-white);
    
}

.sent {
    background-color: var(--bz-success);
}

.sent, .received {
    max-width: 50%;
    word-wrap: break-word;
}

.message_time {
    font-size: 0.6rem;
    padding: 0.1rem;
}

.last_message, .last_message_time {
    color: var(--bz-icon);
    font-size: 0.8rem;
}


/* /#chat */






